{% extends "::base.html.twig" %}

{% block title %}AppBundle:Member:index{% endblock %}

{% block body %}
<h1>Complete Page</h1>
    <a href="{{ path("app_toppage_index") }}">Top Page</a>
{% endblock %}
